@model List<Client>

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        h2 {
            text-align: center;
            margin: 20px 0;
            color: #333;
        }

        .container {
            max-width: none;
            margin: 0;
            padding: 0;
        }

        .table-container {
            overflow-x: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-left: 0;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            color: #555;
        }

            th:last-child, td:last-child {
                border-right: none;
            }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .btn-container {
            text-align: center;
        }

        .btn {
            padding: 6px 0;
            width: 100px;
            margin: 5px;
            cursor: pointer;
            border: none;
            border-radius: 3px;
            font-size: 14px;
            transition: background-color 0.3s ease;
        }

        .btn-info {
            background-color: #17a2b8;
            color: white;
        }

        .btn-primary {
            background-color: #007bff;
            color: white;
        }

        .btn-danger {
            background-color: #dc3545;
            color: white;
        }

        .search-input {
            padding: 8px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Λίστα Ασθενών</h2>
        <input type="text" id="searchInput" class="search-input" placeholder="Αναζήτηση Ασθενούς" />

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Κωδικός Ασθενούς</th>
                        <th>Όνομα</th>
                        <th>Επώνυμο</th>
                        <th>Πατρώνυμο</th>
                        <th>Φύλο</th>
                        <th>Ημερομηνία Γέννησης</th>
                        <th>ΑΜΚΑ</th>
                        <th>Επάγγελμα</th>
                        <th>Ταμείο</th>
                        <th>Οικογενειακή Κατάσταση</th>
                        <th>Τηλέφωνο</th>
                        <th>Email</th>
                        <th>Περιοχή Κατοικίας</th>
                        <th>Πόλη Κατοικίας</th>
                        <th>Διεύθυνση Κατοικίας</th>
                        <th>ΤΚ Κατοικίας</th>
                        <th>Ενέργεια</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var client in Model)
                    {
                        <tr>
                            <td>@client.Id</td>
                            <td>@client.FirstName</td>
                            <td>@client.LastName</td>
                            <td>@client.FathersName</td>
                            <td>@client.Gender</td>
                            <td>@client.Dob.ToShortDateString()</td>
                            <td>@client.Amka</td>
                            <td>@client.Job</td>
                            <td>@client.Insurance</td>
                            <td>@client.FamilyStatus</td>
                            <td>@client.Phone</td>
                            <td>@client.Email</td>
                            <td>@client.AreaOfResidence</td>
                            <td>@client.CityOfResidence</td>
                            <td>@client.AddressOfResidence</td>
                            <td>@client.ZipCodeOfResidence</td>
                            <td class="btn-container">
                                <button class="btn btn-info" onclick="redirectToMedicalHistory('@client.Id')">Ιστορικό Υγείας</button>
                                <button class="btn btn-primary" onclick="window.location.href='/EditClient/@client.Id'">Επεξεργασία</button>
                                <button class="btn btn-danger" data-client-id="@client.Id">Διαγραφή</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function redirectToMedicalHistory(clientId) {
            window.location.href = '/MedicalHistory/Index?clientId=' + clientId;
        }

        document.addEventListener("DOMContentLoaded", function () {
            // Add your JavaScript code here
            function confirmDelete(clientId) {
                if (confirm("Είστε σίγουρος ότι θέλετε να διαγράψετε τον ασθενή;")) {
                    deleteClient(clientId);
                }
            }

            function deleteClient(clientId) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "ShowClients")',
                    data: { id: clientId },
                    success: function () {
                        // Reload the page after deleting the client
                        location.reload();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error deleting client:", textStatus, errorThrown);
                    }
                });
            }

            var searchInput = document.getElementById("searchInput");
            var rows = document.querySelectorAll("tbody tr");

            searchInput.addEventListener("input", function () {
                var searchValue = this.value.toLowerCase();

                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].querySelectorAll("td");
                    var idCell = cells[0].textContent.toLowerCase();
                    var firstNameCell = cells[1].textContent.toLowerCase();
                    var lastNameCell = cells[2].textContent.toLowerCase();

                    var matchFound = idCell.includes(searchValue) || firstNameCell.includes(searchValue) || lastNameCell.includes(searchValue);
                    rows[i].style.display = matchFound ? "table-row" : "none";
                }
            });

            var deleteButtons = document.querySelectorAll(".btn-danger");
            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    var clientId = this.getAttribute("data-client-id"); // Get the client ID from the data attribute
                    confirmDelete(clientId);
                });
            });
        });
    </script>
</body>
</html>
